@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 1px;
  background-color: #111315;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent ;
}

.hide{
  @apply translate-x-[700px];
}
.show{
  @apply translate-x-0;
}

body{
  @apply bg-MainColor print:bg-white;
}

.router-link-exact-active{
 @apply px-3 text-white py-2 bg-SecondryColor rounded-lg  transition-all duration-300 ;
}
